img{
    width: 125px;
    height: 125px;
    
    
}

.white-bg {
    background-color: #fff;
  }

  .image-container {
    margin-top: 110px;
  }

.butt{
    background-color:#29c467;
}

.forgot-password-link {
    white-space: nowrap;
    display: inline;
    
}
.custom-card-content {
    margin-bottom: 0px;
    font-size: 1rem
  }

  .custom-card-content {
    margin-bottom: 20px;
  }
  
  .custom-item-margin {
    margin-bottom: 2px;
  }
  .buttonS{
    background-color: #108b24 !important;
  }

  .custom-item {
    margin-bottom: 1rem; 
  }
  .contenu{
    background-color: #29c467;
  }
  
  