<ion-header >
  <ion-toolbar color="primary">
    <ion-button ><ion-icon name="arrow-back" slot="start"  routerLink="/home" style="font-size: 25px;"></ion-icon></ion-button>
    <ion-button slot="end"  routerLink="/register">SIGN UP</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"  >
  <div id="header" class="ion-text-center">
    <div class="image-container">
      <ion-icon slot="start" name="person" style=" font-size: 10rem;" color="primary"></ion-icon>
    </div>
  </div>

  <form>
    
    <ion-card-content class="custom-card-content">
      <ion-item class=" custom-item">
        <ion-icon slot="start" name="person" color="medium"></ion-icon>
        <ion-input placeholder="Username" expand="full" ></ion-input>
      </ion-item>    
    
      <ion-item class=" custom-item">
        <ion-icon slot="start" name="lock-closed" color="medium"></ion-icon>
        <ion-input type="Password" placeholder="Password" expand="full" > </ion-input>
        <a [routerLink]="['/resetpassword']" class="forgot-password-link" > Forgot Password?</a>
      </ion-item>
      
        <ion-button expand="full" class="buttonS" class=" custom-item" color="primary">Sign In</ion-button> 
       
     
    </ion-card-content>
  </form>
  
</ion-content>
