<ion-header >
  <ion-toolbar color="primary">
    <ion-button slot="end" color="primary"  routerLink="/login">Login</ion-button>
    <ion-button ><ion-icon name="arrow-back" slot="start" routerLink="/login" style="font-size: 25px;"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="header" class="ion-text-center" >
    <div class="titre">
      <h1 color="success">Enter Your Email</h1> 
      <p class="subTitle" color="success">To receive a reset password</p>
    </div>
  </div>

  <form>
    
    <ion-card-content class="custom-card-content">
      <ion-item class=" custom-item">
        <ion-icon slot="start" name="person" color="medium"></ion-icon>
        <ion-input placeholder="Enter you Email" expand="full" ></ion-input>
      </ion-item>
      
        <ion-button expand="full" class="buttonS" class=" custom-item" color="primary">Reset</ion-button> 
       
     
    </ion-card-content>
  </form>
</ion-content>
