<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title size="large">Ajouter Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-content  class="ion-padding">
  
  <ion-list>
    <ion-item>
      <ion-input label="Nom" type="text" placeholder="Entrez votre Nom"></ion-input> 
    </ion-item>
    
      <ion-item>
        <ion-input label="Description" type="text" placeholder="Entrez une description"></ion-input> 
      </ion-item>
    <ion-item>
      <ion-input label="Prix" type="number" placeholder="Entrez le prix"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Categorie du produit</ion-label>
      <ion-select></ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Quantité de stock disponible" type="number" placeholder="Quantité stock disponible"></ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input label="Fabricant" type="text" placeholder="Nom du Fabricant"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Couleur" type="text" placeholder="Entrez la Couleur"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Image</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-card-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="tertiary" shape="round" expand="full" class="custom-title" size="large">Creer</ion-button>
  </ion-toolbar>
</ion-footer>