<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    
    <ion-title   style=" font-size: 24px " >Appli Shopping</ion-title>
      <div>
         
          <ion-icon name="reorder-three-outline" slot="end" style="font-size: 44px;" ></ion-icon>
       </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-center">
  <ion-icon name="logo-xbox" color="primary" style="font-size: 34px;"></ion-icon>
</div>

<p class="text-center" style="font-size: 25px; font-weight: bold; margin-top:40px ;">Bienvenue dans l'application ultime de gestion de produits</p>

<div class="about-section">
  <h2 style="font-size: 25px;  margin-top:70px ;" color="primary" >À propos de notre application</h2>
  <p>Nous sommes dédiés à fournir une expérience de gestion de produits exceptionnelle à nos utilisateurs.
    </p>
</div>

<ion-card-content>
<ion-button expand="full" class="buttonS" class=" custom-item" routerLink="/login" color="primary">Sign IN</ion-button> 
</ion-card-content>
</ion-content>


