<ion-card>

<ion-card-header>
    <ion-toolbar color="primary">
    
      <ion-title   style=" font-size: 21px " >Appli Shopping</ion-title>
      <ion-icon name="reorder-three-outline" slot="start" style="font-size: 44px;" ></ion-icon>
    </ion-toolbar>
</ion-card-header>

<ion-card-content>
  <div class="logo-center">
  <ion-icon name="logo-xbox" color="primary" style="font-size: 34px;"></ion-icon>
</div>

<p class="text-center" style="font-size: 25px; font-weight: bold; margin-top:40px ;">Bienvenue dans l'application ultime de gestion de produits</p>

<div class="about-section">
  <h2 style="font-size: 25px;  margin-top:70px ;" color="primary" >À propos de notre application</h2>
  <p>Nous sommes dédiés à fournir une expérience de gestion de produits exceptionnelle à nos utilisateurs.
    </p>
</div>


<ion-button expand="full" class="buttonS" class=" custom-item" routerLink="/login" color="primary">Sign IN</ion-button> 

</ion-card-content>
</ion-card>


