<ion-header >
  <ion-toolbar color="primary">
    <ion-button slot="end"  routerLink="/login">Sign In</ion-button>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="header" class="ion-text-center" >
    <div class="titre">
      <h1>Create Your Account</h1>
    </div>
  </div>

  <form>
    
    <ion-card-content class="custom-card-content">
      <ion-item class=" custom-item">
        <ion-input placeholder="Your Name" expand="full" ></ion-input>
        <ion-icon slot="start" name="person" color="medium"></ion-icon>
      </ion-item>
    
      <ion-item class=" custom-item">
        <ion-input placeholder="Email" expand="full" > </ion-input>
        <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      </ion-item>

      <ion-item class=" custom-item">
        <ion-input  placeholder="Numero Telephone" expand="full" > </ion-input>
        <ion-icon name="call-outline" slot="start" color="medium"></ion-icon>
      </ion-item>

      <ion-item class=" custom-item">
        <ion-input type="Password" placeholder="Password" expand="full" > </ion-input>
        <ion-icon slot="start" name="lock-closed" color="medium"></ion-icon>
      </ion-item>
    
    
      
        <ion-button expand="full" class="buttonS" class=" custom-item" color="primary">Sign UP</ion-button> 
       
     
    </ion-card-content>
  </form>
</ion-content>
